<app-header></app-header>

<div class="form-container">
  <form [formGroup]="newUserForm" (ngSubmit)="creatingNew()">
    <h2>Add User!</h2>

    <div>
      <input type="text" placeholder="name" formControlName="name" />
      <div
        style="color: red"
        *ngIf="
          newUserForm.controls['name'].invalid &&
          newUserForm.controls['name'].touched
        "
      >
        <p *ngIf="newUserForm.controls['name'].errors?.['required']">
          name is required.
        </p>
      </div>
    </div>

    <div>
      <input type="email" placeholder="email" formControlName="email" />
      <div
        style="color: red"
        *ngIf="
          newUserForm.controls['email'].invalid &&
          newUserForm.controls['email'].touched
        "
      >
        <p *ngIf="newUserForm.controls['email'].errors?.['required']">
          Email is required.
        </p>
        <p *ngIf="newUserForm.controls['email'].errors?.['email']">
          Please enter a valid email.
        </p>
      </div>
    </div>

    <div>
      <input
        type="password"
        placeholder="password"
        formControlName="password"
      />
      <div
        style="color: red"
        *ngIf="
          newUserForm.controls['password']?.invalid &&
          newUserForm.controls['password']?.touched
        "
      >
        <p *ngIf="newUserForm.controls['password'].errors?.['required']">
          Password is required.
        </p>
      </div>
    </div>

    <button type="submit">Create user</button>
  </form>
</div>