<!-- <div class="page">
  <table class="user">
    <tbody>
      <tr>
        <th>{{ user.id }}</th>
        <th>{{ user.name }}</th>
        <th>{{ user.email }}</th>
        <th><img [src]="user.avatar" /></th>

        <th><button (click)="viewForm()">Edit</button></th>
      </tr>
    </tbody>
  </table>

  <form #userForm="ngForm">
    <div>
      <div class="input-box">
        <label>Nmae</label>
        <input type="text" required name="name" [(ngModel)]="editedUser.name" />
      </div>
      <div class="input-box">
        <label>Email</label>
        <input
          type="email"
          required
          name="email"
          [(ngModel)]="editedUser.email"
        />
      </div>
      <div class="input-box">
        <label>Password</label>
        <input
          type="password"
          name="password"
          required
          [(ngModel)]="editedUser.password"
        />
      </div>
    </div>
    <button (click)="editUser(user, userForm)">submit</button>
  </form>
</div> -->