.product-details {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  max-width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.product-details h1 {
  margin: 0;
  font-size: 2.5em;
  color: #333;
}

.product-details .description {
  font-size: 1.2em;
  color: #555;
}

.product-details .price {
  font-size: 1.2em;
  color: #333;
}

.product-details .category {
  font-size: 1.1em;
  color: #777;
}

.product-details .product-image {
  margin:auto;
  width: 50%;
  max-height: 20%;
  object-fit: cover;
  border-radius: 5px;
}

.product-details .content {
  font-size: 1.2em;
  color: #333;
}

.product-details .author {
  font-size: 1em;
  color: #777;
}

.product-details button {
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background: #007bff;
  color: white;
  cursor: pointer;
  align-self: flex-start;
}

.product-details button:hover {
  background: #0056b3;
}

p{
  margin: 0px;
  padding: 0px;
}