.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 15px;
}

.nav-links a.active {
  font-weight: bold;
}

.user-info {
  color: white;
  display: flex;
  align-items: center;
}

.user-info span {
  margin-right: 15px;
  font-size: 16px;
}

.logout-button {
  background-color: #ff4b4b;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
}

.logout-button:hover {
  background-color: #ff1c1c;
}